<footer class="mt-auto bg-amber-400 border-t-4 border-black py-4 font-fira-sans ">
  <div
    class="max-w-screen-2xl w-11/12 mx-auto grid grid-cols-1 text-center gap-4"
  >
  <!-- triquest logo -->
    <div
      class="rounded-md bg-yellow-400 py-1 px-2 text-black font-teko w-max mx-auto border-4 border-black "
    >
      <a
        class="uppercase font-bold text-3xl md:text-4xl tracking-wider rounded-md block"
        href="#"
      >
        Triquest
      </a>
    </div>
    <!-- main content for footer -->
    <main
      class="grid grid-cols-1 sm:grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-5 text-black "
    >
      <!-- menu -->
      <section class=" col-span-2 sm:col-span-1 rounded-lg hidden md:block ">
        <p
          class="font-bold text-xl w-full border-b-2 border-black mb-2  rounded-t px-3 "
        >
          MENU
        </p>
        <ul class="font-teko py-1">
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/">Play</a>
          </li>
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/leaderboard">Leaderboard</a>
          </li>
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/profile">vallen</a>
          </li>
        </ul>
      </section>

      <!-- Game Mode -->
      <section class=" col-span-2 sm:col-span-1 rounded-lg hidden md:block ">
        <p
          class="font-bold text-xl w-full border-b-2 border-black mb-2  rounded-t px-3 "
        >
          GAME MODE
        </p>
        <ul class="font-teko py-1">
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/">Campaign</a> 
          </li>
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/">Random</a>
          </li>
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/">Challenge</a>
          </li>
          <li
            class="cursor-pointer grid content-center text-xl md:text-2xl tracking-wide py-1 mx-auto duration-300 rounded hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px]"
          >
          <a href="/">Custom</a>
          </li>
        </ul>
      </section>

      <!-- email -->
      <section class=" col-span-2 md:col-span-1 rounded-lg">
        <a
          class="block font-bold text-xl w-full border-b-2 border-black mb-2  rounded-t px-3 "
        >
          CONTACT US
      </a>
        <a
          href="/contact_us"
          class=" cursor-pointer grid content-center py-2 mx-auto duration-300 hover:text-yellow-200 after:content-[''] after:block after:bg-yellow-200 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] rounded-md"
          ><i class="fas fa-envelope-square text-4xl md:text-5xl"></i>
          <span class="text-base md:text-lg font-teko tracking-wider">EMAIL US HERE !</span>
        </a>
      </section>

      <!-- community -->
      <section class="col-span-2 md:col-span-4 lg:col-span-2 rounded-lg">
        <a
        href="/socials?platform="
          class="block font-bold text-xl w-full border-b-2 border-black mb-2  rounded-t px-3 "
        >
          TRIQUEST COMMUNITY
      </a>
        <ul class="text-4xl md:text-5xl grid grid-cols-2 gap-2">
          <li>
            <a
              href="/socials?platform=reddit"
              target="_blank"
              class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-orange-500 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-orange-500 rounded-md"
              ><i class="fab fa-reddit-square"></i>
              <span class="text-base md:text-lg font-teko tracking-wider">Reddit</span>
            </a>
          </li>
          <li>
            <a
              href="/socials?platform=twitter"
              target="_blank"
              class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-sky-400 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-sky-400 rounded-md"
              ><i class="fab fa-twitter-square"></i>
              <span class="text-base md:text-lg font-teko tracking-wider">Twitter</span>
            </a>
          </li>
          <li>
            <a
              href="/socials?platform=youtube"
              target="_blank"
              class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-red-600 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-red-600 rounded-md"
              ><i class="fab fa-youtube-square"></i>
              <span class="text-base md:text-lg font-teko tracking-wider">Youtube</span>
            </a>
          </li>
          <li>
            <a
              href="/socials?platform=discord"
              target="_blank"
              class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-indigo-400 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-indigo-400 rounded-md"
              ><i class="fab fa-discord"></i>
              <span class="text-base md:text-lg font-teko tracking-wider">Discord</span>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <!-- triquest.com -->
    <footer class="grid grid-cols-1 text-black font-teko mx-auto">
      <div class="flex">
        <p>Triquest.com | Challenge</p>
        <div class="yourself underline underline-offset-1 font-bold ml-[2px] cursor-pointer">YOURSELF</div>            
      </div>
      <p class="text-xs font-teko col-span-2">Made By VallenDra. All rights reserved 2022</p>      
    </footer>      
  </div>
</footer>
<script>
  var isSafari = window.safari !== undefined;
if (isSafari) {
  window.location.href = '/safari';
}

</script>
<script src="../../misc_js/footer.js"></script>
</body>
</html>
