<h1 class="text-center teko text-3xl md:text-5xl font-bold underline">
  <%=page_title%>
</h1>
<!-- username -->
<div class="w-full max-w-4xl mx-auto">
  <label for="username" class="text-lg font-bold ml-2 inline-block">
    Username
  </label>
  <input
    type="text"
    name="username"
    id="username"
    class="border-2 md:border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
    placeholder="Username"
    required
  />
</div>
<% if (page_title === "SIGN-UP") { %>
<!-- Email -->
<div class="w-full max-w-4xl mx-auto">
  <label for="email" class="text-lg font-bold ml-2 inline-block">
    E-Mail
  </label>
  <input
    type="email"
    name="email"
    id="email"
    class="border-2 md:border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
    placeholder="E-Mail"
    required
  />
</div>
<% } %>
<!-- password -->
<div class="w-full max-w-4xl mx-auto relative">
  <label for="password" class="text-lg font-bold ml-2 inline-block">
    Password
  </label>
  <div class="flex justify-between items-center">
    <input
      type="password"
      name="password"
      id="password"
      class="border-r-0 border-2 md:border-4 md:border-r-0 border-black outline-none px-2 rounded-l-lg block w-full py-2 bg-slate-50"
      placeholder="Password"
      required
    />
    <i
      class="border-l-0 border-2 md:border-4 md:border-l-0 border-black rounded-r-lg show-pw fas fa-eye-slash text-base px-2 cursor-pointer duration-200 hover:text-orange-300 bg-slate-50 self-stretch pt-2"
    ></i>
  </div>
  <% if(page_title === "SIGN-UP") {%>
  <p class="text-[12px] font-bold ml-2 mt-1 text-slate-700">
    *Consist Of Atleast One Uppercase, One Lowercase, And One Symbol
  </p>
  <%} %>
</div>
