<div
  class="loading-screen-leaderboard absolute inset-0 z-10 bg-black/90 flex justify-center items-center"
>
  <main>
    <div class="h-[100px] w-[100px] grid content-center">
      <div class="relative -mt-[30%] w-full">
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-1"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-2"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-3"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-4"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-5"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-6"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-7"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-8"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-9"
        ></div>
        <div
          class="loading-icon absolute inset-x-0 top-0 border-2 border-slate-200 icon-10"
        ></div>
      </div>
    </div>
    <p class="block text-center font-light text-yellow-300 text-xs">loading</p>
  </main>
</div>
