    <!-- Footer -->
    <footer class="mt-auto bg-black text-yellow-300 py-4 fira-sans">
      <div
        class="max-w-screen-2xl w-11/12 mx-auto grid grid-cols-1 text-center gap-4"
      >
        <a
          class="uppercase font-bold text-4xl tracking-wider rounded-md rounded-md bg-yellow-300 py-1 px-2 text-black inline-block w-max mx-auto teko"
          href="#"
        >
          Triquest
        </a>
        <main class="grid grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-5">
          <!-- col 1 -->
          <section class="p-3">
            <p
              class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
            >
              MENU
            </p>
            <ul class="teko">
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                Play
              </li>
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                Leaderboard
              </li>
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                vallen
              </li>
            </ul>
          </section>
          <!-- col 2 -->
          <section class="p-3">
            <p
              class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
            >
              ARCADE
            </p>
            <ul class="teko">
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                Campaign
              </li>
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                Random
              </li>
              <li
                class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              >
                Challenge
              </li>
            </ul>
          </section>
          <!-- col 3 -->
          <section class="p-3 col-span-2 md:col-span-1">
            <p
              class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
            >
              CONTACT US
            </p>
            <a
              href=""
              class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-black rounded-md"
              ><i class="fas fa-envelope-square text-5xl"></i>
              <span class="text-lg teko tracking-wider">EMAIL US HERE !</span>
            </a>
          </section>

          <!-- col 4 -->
          <section class="col-span-2 md:col-span-4 lg:col-span-2 p-3">
            <p
              class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
            >
              TRIQUEST COMMUNITY
            </p>
            <ul class="text-5xl grid grid-cols-2 lg:grid-cols-4 gap-2">
              <li>
                <a
                  href=""
                  class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-orange-500 rounded-md"
                  ><i class="fab fa-reddit-square"></i>
                  <span class="text-lg teko tracking-wider">Reddit</span>
                </a>
              </li>
              <li>
                <a
                  href=""
                  class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-sky-400 rounded-md"
                  ><i class="fab fa-twitter-square"></i>
                  <span class="text-lg teko tracking-wider">Twitter</span>
                </a>
              </li>
              <li>
                <a
                  href=""
                  class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-red-600 rounded-md"
                  ><i class="fab fa-youtube-square"></i>
                  <span class="text-lg teko tracking-wider">Youtube</span>
                </a>
              </li>
              <li>
                <a
                  href=""
                  class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-purple-600 rounded-md"
                  ><i class="fab fa-twitch"></i>
                  <span class="text-lg teko tracking-wider">Twitch</span>
                </a>
              </li>
            </ul>
          </section>
        </main>
        <!-- triquest.com -->
        <p class="leading-6 border-t-2 border-t-yellow-300 pt-2 text-white">
          Triquest.com | Challenge
          <span class="underline underline-offset-1 font-bold">YOURSELF</span
          ><br /><span class="text-sm"
            >Triquest Inc. All rights reserved 2022</span
          >
        </p>
      </div>
    </footer>
    <script>
      const toggle_menu = document.querySelector('.toggle-menu');
      const menu_toggle_btn = document.querySelector('.fa-caret-square-down');
      const menu = document.querySelector('.menu');

      let menuIsToggled = false;
      // for menu toggle
      toggle_menu.addEventListener('click', () => {
        menu.classList.toggle('-translate-y-full');
        menu.classList.add('duration-500');
        menu_toggle_btn.classList.toggle('rotate-180');
        menuIsToggled = !menuIsToggled;

        setTimeout(() => {
          menu.classList.remove('duration-500');
        }, 550);
      });

      // for menu display config
      window.addEventListener('resize', () => {
        let width = window.innerWidth;
        if (width > 768) {
          menu.classList.remove('-translate-y-full');
          menu_toggle_btn.classList.remove('rotate-180');
          menuIsToggled = false;
        } else if (width < 768 && menuIsToggled == false) {
          menu.classList.add('-translate-y-full');
        }
      });

    </script>
  </body>
</html>