<footer class="mt-auto bg-black text-yellow-300 py-4 fira-sans">
  <div
    class="max-w-screen-2xl w-11/12 mx-auto grid grid-cols-1 text-center gap-4"
  >
    <div
      class="rounded-md bg-yellow-300 py-1 px-2 text-black teko w-max mx-auto"
    >
      <a
        class="uppercase font-bold text-4xl tracking-wider rounded-md block"
        href="#"
      >
        Triquest
      </a>
    </div>
    <main
      class="grid grid-cols-1 sm:grid-cols-2 gap-3 md:grid-cols-3 lg:grid-cols-5"
    >
      <!-- col 1 -->
      <section class="p-3 col-span-2 sm:col-span-1">
        <p
          class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
        >
          MENU
        </p>
        <ul class="teko">
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Play</a>
          </li>
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Leaderboard</a>
          </li>
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">vallen</a>
          </li>
        </ul>
      </section>
      <!-- col 2 -->
      <section class="p-3 col-span-2 sm:col-span-1">
        <p
          class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
        >
          GAME MODE
        </p>
        <ul class="teko">
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Campaign</a> 
          </li>
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Random</a>
          </li>
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Challenge</a>
          </li>
          <li
            class="cursor-pointer grid content-center w-11/12 text-2xl tracking-wide py-1 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          >
          <a href="">Practice</a>
          </li>
        </ul>
      </section>
      <!-- col 3 -->
      <section class="p-3 col-span-2 md:col-span-1">
        <p
          class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
        >
          CONTACT US
        </p>
        <a
          href=""
          class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 border-4 border-black hover:text-black rounded-md"
          ><i class="fas fa-envelope-square text-5xl"></i>
          <span class="text-lg teko tracking-wider">EMAIL US HERE !</span>
        </a>
      </section>
      <!-- col 4 -->
      <section class="col-span-2 md:col-span-4 lg:col-span-2 p-3">
        <p
          class="font-bold text-xl w-full border-b-2 border-b-yellow-300 mb-2"
        >
          TRIQUEST COMMUNITY
        </p>
        <ul class="text-5xl grid grid-cols-2 lg:grid-cols-4 gap-2">
          <li>
            <a
              href=""
              class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-orange-500 rounded-md"
              ><i class="fab fa-reddit-square"></i>
              <span class="text-lg teko tracking-wider">Reddit</span>
            </a>
          </li>
          <li>
            <a
              href=""
              class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-sky-400 rounded-md"
              ><i class="fab fa-twitter-square"></i>
              <span class="text-lg teko tracking-wider">Twitter</span>
            </a>
          </li>
          <li>
            <a
              href=""
              class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-red-600 rounded-md"
              ><i class="fab fa-youtube-square"></i>
              <span class="text-lg teko tracking-wider">Youtube</span>
            </a>
          </li>
          <li>
            <a
              href=""
              class="cursor-pointer grid content-center w-11/12 py-2 mx-auto duration-300 hover:bg-yellow-300 hover:text-indigo-400 rounded-md"
              ><i class="fab fa-discord"></i>
              <span class="text-lg teko tracking-wider">Discord</span>
            </a>
          </li>
        </ul>
      </section>
    </main>
    <!-- triquest.com -->
    <p class="leading-6 border-t-2 border-t-yellow-300 pt-2 text-white">
      Triquest.com | Challenge
      <span class="underline underline-offset-1 font-bold">YOURSELF</span
      ><br /><span class="text-sm"
        >Made By VallenDra. All rights reserved 2022</span
      >
    </p>
  </div>
</footer>
<script>
</script>
<script src="../js/include.js"></script>
<script src="../js/country.js"></script>
<script src="../js/interaction.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../js/swiper.js"></script>
<script src="../js/select-dif-height.js"></script>

</body>
</html>
