<section class="bg-yellow-200 grid content-center min-h-full">
  <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
    <div
      class="bg-yellow-300 border-4 border-black rounded-xl shadow-2xl mt-44 px-10 py-14 mb-44"
    >
      <h1
        class="text-black underline text-5xl text-center tracking-wide font-bold teko border-4 border-black rounded-lg py-4 bg-yellow-200"
      >
        SIGN UP
      </h1>
      <form
        action=""
        class="fira-sans space-y-3 border-4 border-black rounded-lg bg-yellow-200 p-4 mt-4"
      >
        <!-- username -->
        <div class="w-full max-w-4xl mx-auto">
          <label for="username" class="text-lg font-bold ml-2 inline-block">
            Username
          </label>
          <input
            type="text"
            name="username"
            id="username"
            class="border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
            placeholder="Username"
          />
        </div>
        <!-- Email -->
        <div class="w-full max-w-4xl mx-auto">
          <label for="email" class="text-lg font-bold ml-2 inline-block">
            E-Mail
          </label>
          <input
            type="email"
            name="email"
            id="email"
            class="border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
            placeholder="E-Mail"
          />
        </div>
        <!-- password -->
        <div class="w-full max-w-4xl mx-auto">
          <label for="password" class="text-lg font-bold ml-2 inline-block">
            Password
          </label>
          <input
            type="password"
            name="password"
            id="password"
            class="border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
            placeholder="Password"
          />
        </div>
        <!-- buttons -->
        <div
          class="text-black tracking-wide font-bold teko text-3xl mx-auto grid grid-cols-1 md:grid-cols-2 justify-center gap-4 pt-10 w-full max-w-4xl"
        >
          <button
            type="submit"
            class="bg-orange-300 border-4 border-black px-5 uppercase w-full duration-300 hover:bg-green-400 hover:text-white rounded-lg"
          >
            Confirm
          </button>
          <button
            type="reset"
            class="bg-orange-300 border-4 border-black px-5 uppercase w-full duration-300 hover:bg-red-400 hover:text-white rounded-lg"
          >
            Reset
          </button>
          <button
            type="submit"
            class="bg-orange-300 border-4 border-black px-5 uppercase w-full duration-300 hover:bg-yellow-400 hover:text-white rounded-lg md:col-span-2 py-2 inline-block mt-2"
          >
            Play As Guest
          </button>
        </div>
      </form>
    </div>
  </main>
</section>
