<%- include("./layouts/header") %>
<!-- gameplay UI -->
<main class="main-bg relative">
  <!-- correct pop-up -->
  <section class="absolute inset-0 hidden">
    <div class="absolute inset-0 opacity-40 bg-black pop-up-bg"></div>
    <main class="absolute inset-0 flex justify-center items-center">
      <div
        class="bg-yellow-300 border-4 border-black flex flex-col py-10 px-4 space-y-4 rounded-xl max-w-md pop-up"
      >
          <i class="fas fa-check text-4xl text-white self-center bg-green-400 border-4 border-black p-4 rounded-full"></i>
          <h3 class="text-4xl font-bold teko tracking-wide bg-yellow-200 p-2 border-4 border-black rounded-lg">
            Your Answer Is Correct !
          </h3>
          <p class="text-lg sm:text-2xl font-bold fira-sans px-2 text-center">Correct Answer<br><span class="font-normal"> <i>Twenty One Password Superman</i> </span> </p>
          <button class=" bg-orange-300 mt-4 p-2 block border-4 border-black fira-sans w-full md:w-4/5 mx-auto duration-300 hover:bg-orange-400 rounded-lg ">Next Question</button>
        </div>
      </div>
    </main>
  </section>
  <!-- wrong pop-up -->
  <section class="absolute inset-0 hidden">
    <div class="absolute inset-0 opacity-40 bg-black pop-up-bg"></div>
    <main class="absolute inset-0 flex justify-center items-center pop-up h-full">
      <div
        class="bg-yellow-300 border-4 border-black flex flex-col py-8 px-4 space-y-4 rounded-xl max-w-md "
      >
          <i class="fas fa-times text-4xl text-white self-center bg-red-400 border-4 border-black py-4 px-6 rounded-full"></i>
          <h3 class="text-3xl sm:text-4xl font-bold teko tracking-wide bg-yellow-200 p-2 border-4 border-black rounded-lg text-center">
            Your Answer Is Wrong !
          </h3>
          <p class="text-lg sm:text-2xl font-bold fira-sans px-2 text-center">Correct Answer<br><span class="font-normal"> <i>Twenty One Password Superman</i> </span> </p>
          <button class=" bg-orange-300 mt-4 p-2 block border-4 border-black fira-sans w-full md:w-4/5 mx-auto duration-300 hover:bg-orange-400 rounded-lg">Next Question</button>
        </div>
      </div>
    </main>
  </section>
    <!-- out-of-time pop-up -->
  <section class="absolute inset-0 hidden">
    <div class="absolute inset-0 opacity-40 bg-black pop-up-bg"></div>
    <main class="absolute inset-0 flex justify-center items-center pop-up h-full">
      <div
        class="bg-yellow-300 border-4 border-black flex flex-col py-8 px-4 space-y-4 rounded-xl max-w-md "
      >
          <i class="fas fa-times text-4xl text-white self-center bg-red-400 border-4 border-black py-4 px-6 rounded-full"></i>
          <h3 class="text-3xl sm:text-4xl font-bold teko tracking-wide bg-yellow-200 p-2 border-4 border-black rounded-lg text-center">
            You're Out Of Time !
          </h3>
          <p class="text-lg sm:text-2xl font-bold fira-sans px-2 text-center">Correct Answer<br><span class="font-normal"> <i>Twenty One Password Superman</i> </span> </p>
          <button class=" bg-orange-300 mt-4 p-2 block border-4 border-black fira-sans w-full md:w-4/5 mx-auto duration-300 hover:bg-orange-400 rounded-lg">Next Question</button>
        </div>
      </div>
    </main>
  </section>
  <!-- answer part -->
  <section class="grid content-center min-h-full">
    <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
      <div class="question-card-wrapper min-w-full relative overflow-y-auto answer-option
">
      </div>
    </main>
  </section>
</main>

<!-- Footer -->
<%- include("./layouts/footer") %>
