<%- include("./layouts/header") %>
<!-- gameplay UI -->
<main class="main-bg bg-anim relative">
  <!-- after answer pop-up -->
  <section
    class="absolute inset-0 z-30 after-answer-wrapper anim-lighten-full justify-center items-center flex bg-black/40 hidden"
  >
    <div
      class="bg-yellow-300 border-4 border-black flex flex-col py-10 px-4 space-y-4 rounded-xl anim-pop-up after-answer-card justify-center items-center"
    >
      <!-- if wrong use fa-times for the i tag and bg-red-500 for the background color-->
      <i
        class="icon-co-in fas fa-check text-4xl text-white self-center bg-green-400 border-4 border-black rounded-full animate-bounce"
      ></i>
      <div class="w-full md:w-4/5 space-y-4">
        <h3
          class="text-center text-4xl font-bold teko tracking-wide bg-yellow-200 p-2 border-4 border-black rounded-lg after-answer-mes w-full"
        >
          Your Answer Is Correct !
        </h3>
        <p
          class="text-lg sm:text-2xl font-bold fira-sans px-2 text-center border-4 border-black bg-yellow-200 rounded-xl py-2"
        >
          The Correct Answer<br /><span
            class="font-bold correct-answer text-green-600"
          >
            <i>Twenty One Password Superman</i>
          </span>
        </p>
      </div>
      <button
        class="bg-orange-300 mt-4 p-2 block border-4 border-black fira-sans w-full md:w-4/5 mx-auto duration-300 hover:bg-orange-400 rounded-lg next-question"
      >
        Next Question
      </button>
    </div>
  </section>

  <!-- loading screen -->
  <%- include("./layouts/loading") %>

  <!-- answer part -->
  <section class="grid content-center min-h-[1000px] relative">
    <main
      class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto question-card-wrapper"
    >
      <div class="min-w-full answer-option-wrapper">
        <!-- four opt -->
        <div
          class="hidden bg-yellow-300 border-4 border-black anim-slide-x question-card question-card-four rounded-xl px-2 md:px-10 py-2 md:py-5 md:h-5/6 four-option flex justify-center items-center"
        >
          <div class="fira-sans p-4 w-full">
            <section>
              <h2
                class="text-xl md:text-3xl font-bold text-center py-4 max-w-4xl text-center mx-auto question-four-opt"
              ></h2>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div
                  class="teko border-4 text-center border-black answer-option text-xl md:text-2xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-orange-300 hover:bg-orange-400"
                >
                  1
                </div>
                <div
                  class="teko border-4 text-center border-black answer-option text-xl md:text-2xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-red-300 hover:bg-red-400"
                >
                  2
                </div>
                <div
                  class="teko border-4 text-center border-black answer-option text-xl md:text-2xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-blue-300 hover:bg-blue-400"
                >
                  3
                </div>
                <div
                  class="teko border-4 text-center border-black answer-option text-xl md:text-2xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-green-300 hover:bg-green-400"
                >
                  4
                </div>
              </div>
              <section
                class="my-4 h-6 border-4 border-black rounded-xl bg-slate-200 overflow-hidden"
              >
                <div
                  class="h-full duration-1000 bg-green-400 rounded-xl timer-bar"
                ></div>
              </section>
              <div
                class="flex justify-center items-center pt-4 text-xs font-light mx-auto text-center"
              >
                <p class="text-center footer-four-opt">
                  1/10 路 hard 路 Entertainment
                </p>
              </div>
            </section>
          </div>
        </div>

        <!-- bool option -->
        <div
          class="hidden bg-yellow-300 border-4 border-black anim-slide-x question-card question-card-two rounded-xl px-2 md:px-10 py-2 md:py-5 my-12 md:my-24 h-5/6 flex justify-center items-center bool-option"
        >
          <div class="fira-sans p-4 w-full">
            <section>
              <h2
                class="text-xl md:text-3xl font-bold text-center py-4 max-w-4xl text-center mx-auto question-two-opt"
              >
                question
              </h2>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                <div
                  class="teko border-4 border-black text-2xl answer-option md:text-4xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 bg-green-300 hover:bg-green-400 rounded-xl cursor-pointer answer-two"
                >
                  True
                </div>
                <div
                  class="teko border-4 border-black text-2xl answer-option md:text-4xl h-16 md:h-24 flex justify-center items-center font-bold duration-300 bg-red-300 hover:bg-red-400 rounded-xl cursor-pointer answer-two"
                >
                  False
                </div>
              </div>
              <section
                class="my-4 h-6 border-4 border-black rounded-xl bg-slate-200 overflow-hidden"
              >
                <div
                  class="h-full duration-1000 bg-green-400 rounded-xl timer-bar"
                ></div>
              </section>
              <div
                class="flex justify-center items-center pt-4 text-xs font-light mx-auto text-center"
              >
                <p class="text-center footer-two-opt">
                  1/10 路 hard 路 Entertainment
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </section>

  <!-- results screen -->
  <section
    class="result-screen hidden absolute inset-0 z-10 bg-black/80 flex justify-center items-center"
  >
    <div
      class="bg-yellow-300 border-4 border-black w-11/12 max-w-screen-lg rounded-xl flex justify-center items-center"
    >
      <!-- display how many questions are correct -->
      <div
        class="p-5 text-center space-y-3 teko text-3xl font-bold relative w-full"
      >
        <h2 class="result-mes">Your Results</h2>
        <!-- circle indicator -->
        <div
          class="w-full py-4 bg-yellow-200 grid content-center rounded-lg border-4 border-black"
        >
          <div
            class="duration-300 circular-progress mx-auto h-[200px] w-[200px] rounded-full relative flex justify-center items-center before:content-[''] before:h-4/5 before:w-4/5 before:bg-white before:rounded-full before:absolute before:mx-auto"
          >
            <!-- value container -->
            <div
              class="fira-sans relative z-10 flex flex-col justify-center items-center"
            >
              <p class="text-black question-result value-container"></p>
              <span class="text-xs">Questions</span>
            </div>
          </div>
          <h3 class="text-3xl teko font-bold mt-3">
            Highscore: <span class="highscore">10.000</span>
          </h3>
        </div>

        <a
          class="result-to-main-btn cursor-pointer bg-orange-300 grid content-center w-full py-1 duration-300 hover:bg-orange-400 hover:text-white rounded-lg border-4 border-black h-3/6 play max-w-lg mx-auto"
        >
          Back To Main Page
        </a>
      </div>

      <!-- Highscore -->
    </div>
  </section>
</main>

<!-- Footer -->
<%- include("./layouts/footer") %>
