<!-- Navbar -->
<%- include("./layouts/header") %>

<!-- main content goes here -->
<main class="main-bg">
  <!-- Leaderboard -->
  <section class="grid content-center min-h-full">
    <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
      <h1 class="teko font-bold text-6xl pt-16 pb-6 text-center underline">
        00:04
      </h1>

      <!-- four option -->
      <div
        class="bg-yellow-300 border-4 border-black rounded-xl shadow-2xl px-5 md:px-10 py-5 mb-44 four-option hidden"
      >
        <div
          class="fira-sans space-y-3 border-4 border-black rounded-lg bg-yellow-200 p-4"
        >
          <section>
            <h2 class="text-2xl md:text-3xl font-bold text-center py-4">
              Which of these is NOT a province in China?
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
              <div
                class="teko border-4 border-black text-3xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-orange-300 hover:text-4xl hover:bg-orange-400 rounded-xl cursor-pointer"
              >
                Sichuan
              </div>
              <div
                class="teko border-4 border-black text-3xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-red-300 hover:text-4xl hover:bg-red-400 rounded-xl cursor-pointer"
              >
                Yangtze
              </div>
              <div
                class="teko border-4 border-black text-3xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-blue-300 hover:text-4xl hover:bg-blue-400 rounded-xl cursor-pointer"
              >
                Guangdong
              </div>
              <div
                class="teko border-4 border-black text-3xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-green-300 hover:text-4xl hover:bg-green-400 rounded-xl cursor-pointer"
              >
                Fujian
              </div>
            </div>
            <div class="flex justify-center items-center pt-4 font-light">
              <p>Questions 1/10 · Hard</p>
            </div>
          </section>
        </div>
      </div>

      <!-- bool option -->
      <div
        class="bg-yellow-300 border-4 border-black rounded-xl shadow-2xl px-5 md:px-10 py-5 mb-44 four-option"
      >
        <div
          class="fira-sans space-y-3 border-4 border-black rounded-lg bg-yellow-200 p-4"
        >
          <section>
            <h2 class="text-2xl md:text-3xl font-bold text-center py-4">
              In The Witcher 3, the Zoltan Chivay Gwent card can be found under
              the Hanged Man&#039;s Tree.
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
              <div
                class="teko border-4 border-black text-3xl md:text-4xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-green-300 hover:text-4xl md:hover:text-5xl hover:bg-green-400 rounded-xl cursor-pointer"
              >
                True
              </div>
              <div
                class="teko border-4 border-black text-3xl md:text-4xl h-24 md:h-44 flex justify-center items-center font-bold duration-300 bg-red-300 hover:text-4xl md:hover:text-5xl hover:bg-red-400 rounded-xl cursor-pointer"
              >
                False
              </div>
            </div>
            <div class="flex justify-center items-center pt-4 font-light">
              <p>Questions 1/10 · Hard</p>
            </div>
          </section>
        </div>
      </div>
    </main>
  </section>
</main>
<!-- Footer -->
<%- include("./layouts/footer") %>
