<!-- Navbar -->
<%- include("./layouts/header") %>

<!-- main content goes here -->
<main class="main-bg"><%- include("./layouts/select-dif") %></main>

<!-- Footer -->
<%- include("./layouts/footer") %>
