<!-- Leaderboard -->
<%- include("./partials/header") %>

<main class="mt-auto">
    <section class="grid content-center min-h-full">
    <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
 
      <div
        class="bg-yellow-200 md:bg-yellow-300 border-4 border-black rounded-xl shadow-2xl md:p-4 my-14"
      >   
        <h1
            class="text-center my-3 md:mt-0 md:mb-2 teko text-3xl md:text-5xl font-bold underline"
        >
        LEADERBOARD
        </h1>
      <!-- top -->
        <div
          class="fira-sans space-y-3 md:border-4 border-black rounded-t-lg md:rounded-lg bg-yellow-200 p-4  h-full"
        >
            <!-- Ranks  -->
            <section> 
                <h2
                class="text-2xl font-bold fira-sans underline text-center underline-offset-4"
                >
                Ranks
                </h2>
                <!-- Category Selectors -->
                <div class ="space-y-2">
                    <label for="country" class="text-lg font-bold ml-2 inline-block">
                        Country
                    </label>
                    <select
                        name="country"
                        id="country"
                        class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                    >
                        <option value="global">
                            Global 🌐
                        </option>
                        <!-- more options will be added through country.js -->
                    </select>

                    <label for="gamemode" class="text-lg font-bold ml-2 inline-block">
                        Gamemode
                    </label>
                    <select
                    name="gamemode"
                    id="gamemode"
                    class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                    >
                    <option value="Campaign">
                        Campaign🚀
                    </option>
                    <option value="Random">
                        Random🌪️ 
                    </option> 
                    <option value="Challenge">
                        Challenge🔥
                    </option>
                   <option value="Custom">
                        Custom❓
                    </option>
                    </select>     
                    
                    <label for="category" class="text-lg font-bold ml-2 inline-block"
                    >Category
                    </label>
                    <select
                        name="category"
                        id="category"
                        class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                    >
                        <option value="any">Any Category</option>
                        <option value="9">General Knowledge</option>
                        <option value="10">Entertainment: Books</option>
                        <option value="11">Entertainment: Film</option>
                        <option value="12">Entertainment: Music</option>
                        <option value="13">
                        Entertainment: Musicals &amp; Theatres
                        </option>
                        <option value="14">Entertainment: Television</option>
                        <option value="15">Entertainment: Video Games</option>
                        <option value="16">Entertainment: Board Games</option>
                        <option value="17">Science &amp; Nature</option>
                        <option value="18">Science: Computers</option>
                        <option value="19">Science: Mathematics</option>
                        <option value="20">Mythology</option>
                        <option value="21">Sports</option>
                        <option value="22">Geography</option>
                        <option value="23">History</option>
                        <option value="24">Politics</option>
                        <option value="25">Art</option>
                        <option value="26">Celebrities</option>
                        <option value="27">Animals</option>
                        <option value="28">Vehicles</option>
                        <option value="29">Entertainment: Comics</option>
                        <option value="30">Science: Gadgets</option>
                        <option value="31">
                        Entertainment: Japanese Anime &amp; Manga
                        </option>
                        <option value="32">
                        Entertainment: Cartoon &amp; Animations
                        </option>
                    </select>        

                    <label for="difficulty" class="text-lg font-bold ml-2 inline-block"
                    >Difficulty
                    </label>
                    <select
                        name="difficulty"
                        id="difficulty"
                        class="border-2 md:border-4 border-black outline-none px-2 rounded-md text-lg block w-full py-2 bg-slate-50"
                    >
                        <option value="any">Any Difficulty</option>
                        <option value="random">Random Difficulty</option>
                        <option value="easy">Easy</option>
                        <option value="medium">Medium</option>
                        <option value="hard">Hard</option>
                    </select>
                </div>
            </section>
            
        </div>

        <!-- the leaderboard -->
        <div 
        class="md:mt-4 bg-yellow-200 border-t-2 md:border-4 border-black mb-2 md:mb-0 md:rounded-sm overflow-y-auto relative h-96 ">
            <%- include("./partials/loading") %> 
            <!-- table -->
            <div class=" absolute inset-0">
                <div 
                id ="leaderboard-table" 
                class="w-full text-lg sm:text-xl md:text-2xl flex flex-col">
                    <div class=" text-center teko font-bold  border-b-2 border-black sticky top-0 w-full bg-orange-300 shadow-lg tb-heading flex justify-between items-center ">
                        <p class=" p-1 bg-orange-400 basis-[20%]">Rank</p>
                        <p class=" p-1 bg-amber-400 basis-[40%]">Username</p>
                        <p class=" p-1 bg-yellow-400 basis-[40%]">Points</p>
                    </div>
                    <section id="table-content">
                    </section>
                </div>                   
            </div>
        </div>
    </main>
  </section></main>

<script src="../score_js/leaderboard.js"></script>
  <script src="../misc_js/include.js"></script>
  <script src="../misc_js/country.js"></script>
  <script src="../misc_js/interaction.js"></script>

  <!-- Footer -->
<%- include("./partials/footer") %>