<!-- Leaderboard -->
<%- include("./layouts/header") %>

<main class="mt-auto">
    <section class="grid content-center min-h-full">
    <main class="max-w-screen-2xl w-11/12 xl:w-9/12 mx-auto">
 
      <div
        class="bg-yellow-200 md:bg-yellow-300 border-4 border-black rounded-xl shadow-2xl md:p-4 my-14"
      >   
        <h1
            class="text-center my-3 md:mt-0 md:mb-2 teko text-3xl md:text-5xl font-bold underline"
        >
        LEADERBOARD
        </h1>
      <!-- top -->
        <div
          class="fira-sans space-y-3 md:border-4 border-black rounded-t-lg md:rounded-lg bg-yellow-200 p-4  h-full"
        >
            <!-- Ranks  -->
            <section> 
                <h2
                class="text-2xl font-bold fira-sans underline text-center underline-offset-4"
                >
                Ranks
                </h2>
                <!-- Category Selectors -->
                <div class ="space-y-2">
                    <label for="country" class="text-lg font-bold ml-2 inline-block">
                        Country
                    </label>
                    <select
                        name="country"
                        id="country"
                        class="border-2 md:border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
                    >
                        <option value="global">
                            Global 🌐
                        </option>
                        <!-- more options will be added through country.js -->
                    </select>
                    <label for="gamemode" class="text-lg font-bold ml-2 inline-block">
                        Gamemode
                    </label>
                    <select
                    name="gamemode"
                    id="gamemode"
                    class="border-2 md:border-4 border-black outline-none px-2 rounded-lg text-lg block w-full py-2 bg-slate-50"
                    >
                    <option value="campaign">
                        Campaign 🚀
                    </option>
                    <option value="random">
                        Random 🌪
                    </option>
                    <option value="challenge">
                        Challenge 🔥
                    </option>
                    <option value="practice">
                        Practice 🏋️‍♂️
                    </option>
                    </select>             
                </div>
            </section>
            
        </div>

        <div class="md:mt-4 bg-yellow-200 border-t-2 md:border-4 border-black mb-2 md:mb-0 md:rounded-sm overflow-y-auto relative h-96 leaderboard">
            <!-- table -->
            <div class=" absolute inset-0">
                <table class="w-full text-lg sm:text-xl md:text-2xl">
                    <tr class="text-center teko font-bold  border-b-2 border-black sticky top-0 w-full bg-orange-300 shadow-lg tb-heading">
                        <td style= "width:10%" class="p-2">Rank</td>
                        <td style= "width:50%">Username</td>
                        <td style="width:35%">Points</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>

                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                    <tr class="text-center teko font-bold  divide-x-2 divide-black">
                        <td style= "width:10%" class="rank">1223</td>
                        <td style= "width:50%">Vallen</td>
                        <td style="width:35%">10.000</td>
                    </tr>
                </table>                   
            </div>
         
        </div>
    </main>
  </section></main>


  <script src="../misc_js/include.js"></script>
  <script src="../misc_js/country.js"></script>
  <script src="../misc_js/interaction.js"></script>

  <!-- Footer -->
<%- include("./layouts/footer") %>