<%- include("./layouts/header") %>

<main class="main-bg bg-anim">
  <!-- select difficulty -->
  <section class="pt-10 md:pt-20 pb-44">
    <h1
      class="text-center mb-10 md:mb-20 teko text-5xl md:text-6xl font-bold underline"
    >
      SELECT GAME MODE
    </h1>
    <div class="max-w-screen-2xl mx-auto">
      <div class="swiper mySwiper w-11/12 xl:w-9/12">
        <div class="swiper-wrapper">
          <!-- Campaign -->
          <section
            class="swiper-slide not-practice grid border-4 px-4 py-6 border-black bg-yellow-300 text-center"
          >
            <!-- top -->
            <div
              class="p-2 border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
            >
              <h2
                class="text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
              >
                Campaign
              </h2>

              <p class="fira-sans text-lg pb-2">
                Climb Your Way Up Through The Difficulties.
              </p>
            </div>

            <!-- middle -->
            <div
              class="grid border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
            >
              <label for="category" class="mb-2 text-5xl teko">Category</label>
              <select
                name="category"
                id="category"
                class="bg-white border-4 border-black text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
              >
                <option value="any">Any Category</option>
                <option value="general">General Knowledge</option>
                <option value="books">Entertainment: Books</option>
                <option value="film">Entertainment: Film</option>
                <option value="music">Entertainment: Music</option>
                <option value="musicals">
                  Entertainment: Musicals &amp; Theatres
                </option>
                <option value="tv">Entertainment: Television</option>
                <option value="video games">Entertainment: Video Games</option>
                <option value="board games">Entertainment: Board Games</option>
                <option value="nature">Science &amp; Nature</option>
                <option value="computers">Science: Computers</option>
                <option value="math">Science: Mathematics</option>
                <option value="myth">Mythology</option>
                <option value="sports">Sports</option>
                <option value="geo">Geography</option>
                <option value="history">History</option>
                <option value="politics">Politics</option>
                <option value="art">Art</option>
                <option value="celebs">Celebrities</option>
                <option value="animals">Animals</option>
                <option value="vehicles">Vehicles</option>
                <option value="entertainment">Entertainment: Comics</option>
                <option value="gadgets">Science: Gadgets</option>
                <option value="anime">
                  Entertainment: Japanese Anime &amp; Manga
                </option>
                <option value="cartoon">
                  Entertainment: Cartoon &amp; Animations
                </option>
              </select>
            </div>

            <!-- bottom -->
            <a
              href="#"
              class="duration-300 border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center"
            >
              Play Campaign Mode 🚀
            </a>
          </section>
          <!-- Random -->
          <section
            class="swiper-slide not-practice grid border-4 px-4 py-6 border-black bg-yellow-300 text-center"
          >
            <!-- top -->
            <div
              class="p-2 border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
            >
              <h2
                class="text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
              >
                Random
              </h2>

              <p class="fira-sans text-lg pb-2">
                Play Through Random Difficulty Levels.
              </p>
            </div>

            <!-- middle -->
            <div
              class="grid border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
            >
              <label for="category" class="mb-2 text-5xl teko">Category</label>
              <select
                name="category"
                id="category"
                class="bg-white border-4 border-black text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
              >
                <option value="any">Any Category</option>
                <option value="general">General Knowledge</option>
                <option value="books">Entertainment: Books</option>
                <option value="film">Entertainment: Film</option>
                <option value="music">Entertainment: Music</option>
                <option value="musicals">
                  Entertainment: Musicals &amp; Theatres
                </option>
                <option value="tv">Entertainment: Television</option>
                <option value="video games">Entertainment: Video Games</option>
                <option value="board games">Entertainment: Board Games</option>
                <option value="nature">Science &amp; Nature</option>
                <option value="computers">Science: Computers</option>
                <option value="math">Science: Mathematics</option>
                <option value="myth">Mythology</option>
                <option value="sports">Sports</option>
                <option value="geo">Geography</option>
                <option value="history">History</option>
                <option value="politics">Politics</option>
                <option value="art">Art</option>
                <option value="celebs">Celebrities</option>
                <option value="animals">Animals</option>
                <option value="vehicles">Vehicles</option>
                <option value="entertainment">Entertainment: Comics</option>
                <option value="gadgets">Science: Gadgets</option>
                <option value="anime">
                  Entertainment: Japanese Anime &amp; Manga
                </option>
                <option value="cartoon">
                  Entertainment: Cartoon &amp; Animations
                </option>
              </select>
            </div>

            <!-- bottom -->
            <a
              href="#"
              class="duration-300 border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center"
            >
              Play Random Mode 🌪
            </a>
          </section>
          <!-- Challenge -->
          <section
            class="swiper-slide not-practice grid border-4 px-4 py-6 border-black bg-yellow-300 text-center"
          >
            <!-- top -->
            <div
              class="p-2 border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
            >
              <h2
                class="text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
              >
                Challenge
              </h2>

              <p class="fira-sans text-lg pb-2">
                Challenge Yourself With Hard Questions Only.
              </p>
            </div>

            <!-- middle -->
            <div
              class="grid border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
            >
              <label for="category" class="mb-2 text-5xl teko">Category</label>
              <select
                name="category"
                id="category"
                class="bg-white border-4 border-black text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
              >
                <option value="any">Any Category</option>
                <option value="general">General Knowledge</option>
                <option value="books">Entertainment: Books</option>
                <option value="film">Entertainment: Film</option>
                <option value="music">Entertainment: Music</option>
                <option value="musicals">
                  Entertainment: Musicals &amp; Theatres
                </option>
                <option value="tv">Entertainment: Television</option>
                <option value="video games">Entertainment: Video Games</option>
                <option value="board games">Entertainment: Board Games</option>
                <option value="nature">Science &amp; Nature</option>
                <option value="computers">Science: Computers</option>
                <option value="math">Science: Mathematics</option>
                <option value="myth">Mythology</option>
                <option value="sports">Sports</option>
                <option value="geo">Geography</option>
                <option value="history">History</option>
                <option value="politics">Politics</option>
                <option value="art">Art</option>
                <option value="celebs">Celebrities</option>
                <option value="animals">Animals</option>
                <option value="vehicles">Vehicles</option>
                <option value="entertainment">Entertainment: Comics</option>
                <option value="gadgets">Science: Gadgets</option>
                <option value="anime">
                  Entertainment: Japanese Anime &amp; Manga
                </option>
                <option value="cartoon">
                  Entertainment: Cartoon &amp; Animations
                </option>
              </select>
            </div>

            <!-- bottom -->
            <a
              href="/challenge-mode"
              class="duration-300 border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center challenge-btn"
            >
              Play Challenge Mode 🔥
            </a>
          </section>
          <!-- Practice -->
          <section
            class="swiper-slide border-4 px-4 py-6 border-black bg-yellow-300 text-center practice"
          >
            <!-- top -->
            <div
              class="p-2 border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
            >
              <h2
                class="text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
              >
                Practice
              </h2>

              <p class="fira-sans text-lg pb-2">
                Practice Mode With Custom Difficulty
              </p>
            </div>

            <!-- middle -->
            <div
              class="grid grid-cols-1 md:grid-cols-2 bg-yellow-200 border-4 border-black rounded-lg mt-6 py-3 px-6 gap-4"
            >
              <section>
                <label for="category" class="mb-2 text-5xl teko"
                  >Category</label
                >
                <select
                  name="category"
                  id="category"
                  class="bg-white border-4 border-black text-lg font-bold fira-sans px-2 py-3 rounded mb-4 w-full"
                >
                  <option value="any">Any Category</option>
                  <option value="general">General Knowledge</option>
                  <option value="books">Entertainment: Books</option>
                  <option value="film">Entertainment: Film</option>
                  <option value="music">Entertainment: Music</option>
                  <option value="musicals">
                    Entertainment: Musicals &amp; Theatres
                  </option>
                  <option value="tv">Entertainment: Television</option>
                  <option value="video games">
                    Entertainment: Video Games
                  </option>
                  <option value="board games">
                    Entertainment: Board Games
                  </option>
                  <option value="nature">Science &amp; Nature</option>
                  <option value="computers">Science: Computers</option>
                  <option value="math">Science: Mathematics</option>
                  <option value="myth">Mythology</option>
                  <option value="sports">Sports</option>
                  <option value="geo">Geography</option>
                  <option value="history">History</option>
                  <option value="politics">Politics</option>
                  <option value="art">Art</option>
                  <option value="celebs">Celebrities</option>
                  <option value="animals">Animals</option>
                  <option value="vehicles">Vehicles</option>
                  <option value="entertainment">Entertainment: Comics</option>
                  <option value="gadgets">Science: Gadgets</option>
                  <option value="anime">
                    Entertainment: Japanese Anime &amp; Manga
                  </option>
                  <option value="cartoon">
                    Entertainment: Cartoon &amp; Animations
                  </option>
                </select>
              </section>
              <section>
                <label for="category" class="mb-2 text-5xl teko"
                  >Difficulty</label
                >
                <select
                  name="category"
                  id="category"
                  class="bg-white border-4 border-black text-lg font-bold fira-sans px-2 py-3 rounded mb-4 w-full"
                >
                  <option value="easy">Easy</option>
                  <option value="medium">Medium</option>
                  <option value="hard">Hard</option>
                </select>
              </section>
            </div>

            <!-- Bottom -->
            <a
              href="#"
              class="duration-300 border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center"
            >
              Play Practice Mode 🏋️‍♂️
            </a>
          </section>
        </div>
        <div class="swiper-pagination text-black"></div>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<%- include("./layouts/footer") %>
