<%- include("./layouts/header") %>

<main class="min-h-full mt-auto">
  <!-- <h1
      class="text-center my-4 md:my-10 teko text-5xl xl:text-6xl font-bold underline"
    >
      Play Now
    </h1> -->
  <!-- select difficulty -->
  <section class="w-full xl:w-9/12 mx-auto max-w-screen-2xl">
    <div class="swiper mySwiper w-full py-12 md:py-24">
      <div class="swiper-wrapper">
        <!-- Campaign -->
        <section class="swiper-slide bg-transparent w-full" id="campaign">
          <section
            class="not-custom grid items-center text-center max-w-screen-2xl mx-auto"
          >
            <div
              class="border-4 border-black p-2 bg-yellow-400 rounded-lg w-11/12 h-max mx-auto grid items-stretch"
              style="height: 100%"
            >
              <!-- top -->
              <div
                class="select-dif-content-max-w p-2 border-2 md:border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
              >
                <h2
                  class="text-4xl xl:text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
                >
                  Campaign
                </h2>

                <p class="fira-sans text-sm xl:text-lg pb-2">
                  Climb Your Way Up Throught The Difficulties
                </p>
              </div>

              <!-- middle -->
              <div
                class="select-dif-content-max-w grid border-2 md:border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
              >
                <label for="category" class="md:mb-2 text-3xl xl:text-5xl teko"
                  >Category</label
                >
                <select
                  name="category"
                  title="Select The Category !"
                  id="category-campaign"
                  class="select-dif-select-max-w bg-white border-2 md:border-4 border-black text-sm xl:text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
                >
                  <option value="">Any Category</option>
                  <option value="9">General Knowledge</option>
                  <option value="10">Entertainment: Books</option>
                  <option value="11">Entertainment: Film</option>
                  <option value="12">Entertainment: Music</option>
                  <option value="13">
                    Entertainment: Musicals &amp; Theatres
                  </option>
                  <option value="14">Entertainment: Television</option>
                  <option value="15">Entertainment: Video Games</option>
                  <option value="16">Entertainment: Board Games</option>
                  <option value="17">Science &amp; Nature</option>
                  <option value="18">Science: Computers</option>
                  <option value="19">Science: Mathematics</option>
                  <option value="20">Mythology</option>
                  <option value="21">Sports</option>
                  <option value="22">Geography</option>
                  <option value="23">History</option>
                  <option value="24">Politics</option>
                  <option value="25">Art</option>
                  <option value="26">Celebrities</option>
                  <option value="27">Animals</option>
                  <option value="28">Vehicles</option>
                  <option value="29">Entertainment: Comics</option>
                  <option value="30">Science: Gadgets</option>
                  <option value="31">
                    Entertainment: Japanese Anime &amp; Manga
                  </option>
                  <option value="32">
                    Entertainment: Cartoon &amp; Animations
                  </option>
                </select>
              </div>

              <!-- bottom -->
              <a
                class="select-dif-content-max-w duration-300 cursor-pointer border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-2xl xl:text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center campaign-btn"
              >
                Play Campaign Mode 🚀
              </a>
            </div>
          </section>
        </section>

        <!-- Random -->
        <section class="swiper-slide bg-transparent w-full" id="random">
          <section
            class="not-custom grid items-center text-center max-w-screen-2xl mx-auto"
          >
            <div
              class="border-4 border-black p-2 bg-yellow-400 rounded-lg w-11/12 h-max mx-auto grid items-stretch"
              style="height: 100%"
            >
              <!-- top -->
              <div
                class="select-dif-content-max-w p-2 border-2 md:border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
              >
                <h2
                  class="text-4xl xl:text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
                >
                  Random
                </h2>

                <p class="fira-sans text-sm xl:text-lg pb-2">
                  Play Through Random Difficulties And Categories.
                </p>
              </div>

              <!-- middle -->
              <div
                class="select-dif-content-max-w grid border-2 md:border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
              >
                <label for="category" class="md:mb-2 text-3xl xl:text-5xl teko"
                  >Category</label
                >
                <select
                  name="category"
                  title="Select The Category !"
                  id="category"
                  class="select-dif-select-max-w bg-white border-2 md:border-4 border-black text-sm xl:text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
                >
                  <option>Randomised</option>
                </select>
              </div>

              <!-- bottom -->
              <a
                class="select-dif-content-max-w duration-300 cursor-pointer border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-2xl xl:text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center random-btn"
              >
                Play Random Mode 🌪
              </a>
            </div>
          </section>
        </section>

        <!-- Challenge -->
        <section class="swiper-slide bg-transparent w-full" id="challenge">
          <section
            class="not-custom grid items-center text-center max-w-screen-2xl mx-auto"
          >
            <div
              class="border-4 border-black p-2 bg-yellow-400 rounded-lg w-11/12 h-max mx-auto grid items-stretch"
              style="height: 100%"
            >
              <!-- top -->
              <div
                class="select-dif-content-max-w p-2 border-2 md:border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
              >
                <h2
                  class="text-4xl xl:text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
                >
                  Challenge
                </h2>

                <p class="fira-sans text-sm xl:text-lg pb-2">
                  Challenge Yourself With Hard Questions Only.
                </p>
              </div>

              <!-- middle -->
              <div
                class="select-dif-content-max-w grid border-2 md:border-4 bg-yellow-200 border-black rounded-lg mt-6 py-2 px-6"
              >
                <label for="category" class="md:mb-2 text-3xl xl:text-5xl teko"
                  >Category</label
                >
                <select
                  name="category"
                  title="Select The Category !"
                  id="category-challenge"
                  class="select-dif-select-max-w bg-white border-2 md:border-4 border-black text-sm xl:text-lg font-bold fira-sans px-2 py-3 rounded mb-4"
                >
                  <option value="">Any Category</option>
                  <option value="9">General Knowledge</option>
                  <option value="10">Entertainment: Books</option>
                  <option value="11">Entertainment: Film</option>
                  <option value="12">Entertainment: Music</option>
                  <option value="13">
                    Entertainment: Musicals &amp; Theatres
                  </option>
                  <option value="14">Entertainment: Television</option>
                  <option value="15">Entertainment: Video Games</option>
                  <option value="16">Entertainment: Board Games</option>
                  <option value="17">Science &amp; Nature</option>
                  <option value="18">Science: Computers</option>
                  <option value="19">Science: Mathematics</option>
                  <option value="20">Mythology</option>
                  <option value="21">Sports</option>
                  <option value="22">Geography</option>
                  <option value="23">History</option>
                  <option value="24">Politics</option>
                  <option value="25">Art</option>
                  <option value="26">Celebrities</option>
                  <option value="27">Animals</option>
                  <option value="28">Vehicles</option>
                  <option value="29">Entertainment: Comics</option>
                  <option value="30">Science: Gadgets</option>
                  <option value="31">
                    Entertainment: Japanese Anime &amp; Manga
                  </option>
                  <option value="32">
                    Entertainment: Cartoon &amp; Animations
                  </option>
                </select>
              </div>

              <!-- bottom -->
              <a
                class="select-dif-content-max-w duration-300 cursor-pointer border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-2xl xl:text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center challenge-btn"
              >
                Play Challenge Mode 🔥
              </a>
            </div>
          </section>
        </section>

        <!-- custom -->
        <section class="swiper-slide bg-transparent w-full" id="custom">
          <section
            class="text-center max-w-screen-2xl mx-auto custom grid items-center"
          >
            <div
              class="border-4 border-black p-2 bg-yellow-400 rounded-lg w-11/12 h-max mx-auto grid items-stretch"
              style="height: 100%"
            >
              <!-- top -->
              <div
                class="select-dif-content-max-w p-2 border-2 md:border-4 flex justify-center items-center flex-col font-bold border-black rounded-lg bg-yellow-200"
              >
                <h2
                  class="text-4xl xl:text-6xl font-bold underline teko mb-2 rounded-lg px-2 pt-2"
                >
                  Custom
                </h2>

                <p class="fira-sans text-sm xl:text-lg pb-2">
                  Custom Mode With Custom Difficulty
                </p>
              </div>

              <!-- middle -->
              <div
                class="select-dif-content-max-w grid grid-cols-1 md:grid-cols-2 bg-yellow-200 border-2 md:border-4 border-black rounded-lg mt-6 py-3 px-6 gap-4"
              >
                <section>
                  <label
                    for="category"
                    class="md:mb-2 text-3xl xl:text-5xl teko"
                    >Category</label
                  >
                  <select
                    name="category"
                    title="Select The Category !"
                    id="category-custom"
                    class="select-dif-select-max-w bg-white border-2 md:border-4 border-black text-sm xl:text-lg font-bold fira-sans px-2 py-3 rounded mb-4 w-full"
                  >
                    <option value="">Any Category</option>
                    <option value="9">General Knowledge</option>
                    <option value="10">Entertainment: Books</option>
                    <option value="11">Entertainment: Film</option>
                    <option value="12">Entertainment: Music</option>
                    <option value="13">
                      Entertainment: Musicals &amp; Theatres
                    </option>
                    <option value="14">Entertainment: Television</option>
                    <option value="15">Entertainment: Video Games</option>
                    <option value="16">Entertainment: Board Games</option>
                    <option value="17">Science &amp; Nature</option>
                    <option value="18">Science: Computers</option>
                    <option value="19">Science: Mathematics</option>
                    <option value="20">Mythology</option>
                    <option value="21">Sports</option>
                    <option value="22">Geography</option>
                    <option value="23">History</option>
                    <option value="24">Politics</option>
                    <option value="25">Art</option>
                    <option value="26">Celebrities</option>
                    <option value="27">Animals</option>
                    <option value="28">Vehicles</option>
                    <option value="29">Entertainment: Comics</option>
                    <option value="30">Science: Gadgets</option>
                    <option value="31">
                      Entertainment: Japanese Anime &amp; Manga
                    </option>
                    <option value="32">
                      Entertainment: Cartoon &amp; Animations
                    </option>
                  </select>
                </section>
                <section>
                  <label
                    for="difficulty"
                    class="md:mb-2 text-3xl xl:text-5xl teko"
                    >Difficulty</label
                  >
                  <select
                    name="difficulty"
                    title="Select The Difficulty"
                    id="category-difs"
                    class="select-dif-select-max-w bg-white border-2 md:border-4 border-black text-sm xl:text-lg font-bold fira-sans px-2 py-3 rounded mb-4 w-full"
                  >
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                  </select>
                </section>
              </div>

              <!-- Bottom -->
              <a
                class="select-dif-content-max-w duration-300 cursor-pointer border-4 border-black px-2 py-3 teko tracking-wide w-full my-4 rounded-lg text-2xl xl:text-3xl font-bold hover:bg-green-400 hover:text-white mt-8 bg-orange-300 flex justify-center items-center custom-btn"
              >
                Play Custom Mode 🏋️‍♂️
              </a>
            </div>
          </section>
        </section>
      </div>
      <div class="swiper-pagination text-black"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </section>
</main>

<script src="../gameplay_js/get-params-api.js"></script>
<script src="../misc_js/include.js"></script>
<script src="../misc_js/interaction.js"></script>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="../misc_js/swiper.js"></script>
<script src="../misc_js/select-dif-height.js"></script>
<!-- Footer -->
<%- include("./layouts/footer") %>
<!-- https://opentdb.com/api.php?amount=10&category=20&difficulty=medium&type=multiple -->
