<%- include("./partials/header") %>
<!-- col 4 -->
<section class="grid justify-center items-center h-screen">
  <div
    class="text-center bg-yellow-200 border-4 border-black rounded-lg w-11/12 md:w-full mx-auto"
  >
    <p
      class="font-bold w-full border-b-2 border-black rounded-t px-3 font-fira-sans text-3xl p-2 bg-yellow-300"
    >
      TRIQUEST COMMUNITY
    </p>
    <ul class="text-5xl grid grid-cols-2">
      <li class="border-r-2 border-b-2 border-black">
        <a
          href="/socials?platform=reddit"
          target="_blank"
          class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-orange-500 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-orange-500 rounded-md"
          ><i class="fab fa-reddit-square"></i>
          <span class="text-lg font-teko tracking-wider">Reddit</span>
        </a>
      </li>
      <li class="border-b-2 border-black">
        <a
          href="/socials?platform=twitter"
          target="_blank"
          class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-sky-400 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-sky-400 rounded-md"
          ><i class="fab fa-twitter-square"></i>
          <span class="text-lg font-teko tracking-wider">Twitter</span>
        </a>
      </li>
      <li class="border-r-2 border-black">
        <a
          href="/socials?platform=youtube"
          target="_blank"
          class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-red-600 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-red-600 rounded-md"
          ><i class="fab fa-youtube-square"></i>
          <span class="text-lg font-teko tracking-wider">Youtube</span>
        </a>
      </li>
      <li>
        <a
          href="/socials/discord"
          target="_blank"
          class="cursor-pointer grid content-center py-2 mx-auto duration-300 after:content-[''] after:block after:bg-indigo-400 after:w-0 hover:after:w-1/4 md:hover:after:w-1/2 after:duration-300 after:mx-auto after:h-[3px] hover:text-indigo-400 rounded-md"
          ><i class="fab fa-discord"></i>
          <span class="text-lg font-teko tracking-wider">Discord</span>
        </a>
      </li>
    </ul>
  </div>
</section>
<script src="../misc_js/interaction.js"></script>
