.anim-lighten-50 {
  animation: lighten-50 500ms ease-in-out;
}

.anim-slide-x {
  animation: slide-x 1200ms ease-in-out;
}

.anim-shake {
  animation: shake 250ms ease-in-out;
}

@keyframes lighten-50 {
  from {
    opacity: 0;
  }
  to {
    opacity: 50%;
  }
}

@keyframes slide-x {
  0% {
    opacity: 0.5;
    transform: translateX(0);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-180%);
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.25;
    transform: translateX(180%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
