.leaderboard {
  scrollbar-color: black rgb(254 240 138);
}

.leaderboard::-webkit-scrollbar {
  background: rgb(254 240 138);
}

.leaderboard::-webkit-scrollbar-track {
  background: rgb(254 240 138);
}
/* Handle */
.leaderboard::-webkit-scrollbar-thumb {
  background: rgb(31 41 55);
  border: 3.5px solid rgb(254 240 138);
  border-radius: 20px;
}

.leaderboard::-webkit-scrollbar-thumb:hover {
  background: black;
}
