.leaderboard {
  scrollbar-color: rgb(251 146 60) rgb(250 204 21);
}

.leaderboard::-webkit-scrollbar {
  background: rgb(250 204 21);
}

.leaderboard::-webkit-scrollbar-track {
  background: rgb(250 204 21);
}
/* Handle */
.leaderboard::-webkit-scrollbar-thumb {
  background: rgb(31 41 55);
  border: 3.5px solid rgb(250 204 21);
  border-radius: 20px;
}

.leaderboard::-webkit-scrollbar-thumb:hover {
  background: rgb(251 146 60);
}
