<%- include("../layouts/header") %>
<main class="main-bg bg-anim">
  <section
    class="flex justify-center content-center flex-col w-11/12 md:w-4/5 xl:w-3/5 mx-auto h-screen"
  >
    <h1 class="text-4xl mb-2 font-bold teko">Error 404 ....</h1>
    <p
      class="p-3 mb-4 border-4 border-black bg-yellow-200 rounded-lg fira-sans"
    >
      The link you were searching for doesn't exist. Please click the button
      below to return to the main page or click one of the buttons on the menu.
    </p>
    <a
      href="/"
      class="tracking-wide teko text-xl bg-orange-300 hover:text-white hover:bg-red-400 py-1 text-center duration-300 border-4 border-black rounded-lg"
      >Back To Main Page</a
    >
  </section>
</main>
<script src="../misc_js/interaction.js"></script>
