<section
  class="absolute inset-0 z-30 after-answer-wrapper animate-fade-in justify-center items-center flex bg-black/40 h-screen"
>
  <div
    class="bg-yellow-300 border-4 border-black flex flex-col py-10 px-4 space-y-4 rounded-xl animate-pop-up after-answer-card justify-center items-center"
  >
    <!-- if wrong use fa-times for the i tag and bg-red-500 for the background color-->
    <i
      class="icon-co-in fas fa-check text-4xl text-white self-center bg-green-400 border-4 border-black rounded-full animate-bounce"
    ></i>
    <div class="w-full md:w-4/5 space-y-4">
      <h3
        class="text-center text-xl sm:text-2xl md:text-4xl font-bold font-teko tracking-wide bg-yellow-200 p-2 border-4 border-black rounded-lg after-answer-mes w-full"
      >
        Your Answer Is Correct !
      </h3>
      <p
        class="text-lg sm:text-2xl font-bold font-fira-sans px-2 text-center border-4 border-black bg-yellow-200 rounded-xl py-2"
      >
        The Correct Answer<br /><span
          class="font-bold correct-answer text-green-600"
        >
          <i></i>
        </span>
      </p>
    </div>
    <button
      class="bg-orange-300 mt-4 p-2 block border-4 border-black font-fira-sans w-full md:w-4/5 mx-auto duration-300 hover:bg-orange-400 active:bg-orange-600 hover:text-white rounded-lg next-question"
    >
      Next Question
    </button>
  </div>
</section>
