<!-- Back To Menu -->
<a
  class="duration-300 cursor-pointer border-2 sm:border-4 border-black sm:py-2 teko tracking-wide w-full mt-2 sm:mt-4 md:mt-12 rounded-lg text-lg sm:text-xl md:text-2xl font-bold hover:bg-red-400 active:bg-red-600 hover:text-white bg-orange-300 flex justify-center items-center end-game-btn"
>
  End Game
</a>
