<!-- four opt -->
<div
  class="hidden bg-yellow-200 border-4 border-black anim-slide-x question-card question-card-four rounded-xl px-2 md:px-10 py-2 md:py-5 md:h-5/6 four-option"
>
  <div class="fira-sans p-1 md:p-2 w-full">
    <section>
      <div
        class="block rounded-md bg-yellow-400 py-1 px-2 text-black teko w-max mx-auto border-2 sm:border-4 border-black mb-4"
      >
        <a
          class="uppercase font-bold text-sm md:text-lg tracking-wider rounded-md block"
          href="#"
        >
          Triquest
        </a>
      </div>
      <%-include("./timerbar.ejs") %>
      <h2
        class="text-sm sm:text-lg md:text-xl xl:text-3xl font-bold text-center py-2 sm:py-4 max-w-4xl mx-auto question-four-opt"
      ></h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4 teko">
        <div
          class="border-2 md:border-4 text-center border-black answer-option text-base sm:text-xl md:text-2xl h-12 sm:h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-orange-300 hover:bg-orange-400 active:bg-orange-600"
        >
          1
        </div>
        <div
          class="border-2 md:border-4 text-center border-black answer-option text-base sm:text-xl md:text-2xl h-12 sm:h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-red-300 hover:bg-red-400 active:bg-red-600"
        >
          2
        </div>
        <div
          class="border-2 md:border-4 text-center border-black answer-option text-base sm:text-xl md:text-2xl h-12 sm:h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-blue-300 hover:bg-blue-400 active:bg-blue-600"
        >
          3
        </div>
        <div
          class="border-2 md:border-4 text-center border-black answer-option text-base sm:text-xl md:text-2xl h-12 sm:h-16 md:h-24 flex justify-center items-center font-bold duration-300 rounded-xl cursor-pointer answer-four bg-green-300 hover:bg-green-400 active:bg-green-600"
        >
          4
        </div>
      </div>
      <div
        class="flex justify-center items-center pt-2 sm:pt-4 text-xxs md:text-xs font-light mx-auto text-center"
      >
        <p class="text-center footer-four-opt">1/10 · hard · Entertainment</p>
      </div>
      <%-include("./end-game.ejs")%>
    </section>
  </div>
</div>
