<section
  class="result-screen absolute inset-0 z-10 bg-black/80 h-screen flex justify-center items-center"
>
  <div
    class="bg-yellow-300 border-4 border-black w-11/12 max-w-screen-lg rounded-xl flex justify-center items-center"
  >
    <!-- display how many questions are correct -->
    <div
      class="p-5 text-center space-y-3 font-teko text-xl md:text-3xl font-bold relative w-full"
    >
      <h2 class="result-mes text-2xl md:text-3xl">Your Results</h2>
      <!-- circle indicator -->
      <div
        class="w-full py-4 bg-yellow-200 grid content-center rounded-lg border-2 md:border-4 border-black"
      >
        <div
          class="duration-300 circular-progress mx-auto h-[200px] w-[200px] rounded-full relative flex justify-center items-center before:content-[''] before:h-4/5 before:w-4/5 before:bg-white before:rounded-full before:absolute before:mx-auto"
        >
          <!-- value container -->
          <div
            class="font-fira-sans relative z-10 flex flex-col justify-center items-center"
          >
            <p class="text-black question-result value-container"></p>
            <span class="text-xs">Questions</span>
          </div>
        </div>
        <h3
          class="font-fira-sans md:font-bold mt-3 highscore text-base md:text-3xl"
        >
          Highscore: 0
        </h3>
      </div>

      <a
        class="result-to-main-btn cursor-pointer bg-orange-300 grid content-center w-full py-1 hover:bg-orange-400 active:bg-orange-600 hover:text-white rounded-lg border-4 border-black h-3/6 play max-w-lg mx-auto duration-300 font-teko tracking-wide text-lg sm:text-xl md:text-2xl"
      >
        Back To Main Page
      </a>
    </div>

    <!-- Highscore -->
  </div>
</section>
