<!-- transition -->
<div
  id="question-transition"
  class="bg-yellow-200 absolute inset-0 rounded-lg grid content-center"
>
  <div
    class="block rounded-md bg-yellow-400 py-1 px-2 text-black font-teko w-max mx-auto border-2 sm:border-4 border-black mb-4"
  >
    <span
      class="uppercase font-bold text-3xl md:text-5xl tracking-wider rounded-md block"
    >
      Triquest
    </span>
  </div>
  <p class="font-teko text-3xl md:text-5xl uppercase text-center">
    Next Question Coming Up !
  </p>
</div>
