<section id="landscape-alert" class="hidden">
  <div class="absolute inset-0 bg-black z-30 grid content-center">
    <div class="mx-auto relative">
      <!-- the phone -->
      <div
        id="phone"
        class="h-28 w-14 border-2 border-white rounded-md mx-auto mb-4 flex flex-col animate-phone-landscape-rotate"
      >
        <!-- top -->
        <div class="basis-[13%] bg-slate-50/40 flex flex-col justify-evenly">
          <div class="mx-auto w-1 h-1 border-2 border-white rounded-full"></div>
          <div class="mx-auto w-3 h-1 border-2 border-white rounded-full"></div>
        </div>
        <!-- screen -->
        <div
          class="basis-[74%] border-y-2 border-white bg-gray-400/30 grid content-center"
        >
          <i
            class="fas fa-check text-xl text-green-400 mx-auto animate-fade-in-1500"
          ></i>
        </div>
        <!-- bottom -->
        <div class="basis-[13%] bg-slate-50/40 flex flex-col justify-evenly">
          <!-- home button -->
          <div class="mx-auto w-2 h-2 border-2 border-white rounded-full"></div>
        </div>
      </div>
      <!-- bottom text -->
      <div class="font-fira-sans text-sm text-yellow-300">
        Please Change To
        <span class="text-base font-bold">Portrait Mode</span> To Continue !
      </div>
      <!-- animated arrow -->
    </div>
  </div>
</section>
